@tailwind base;
@tailwind components;
@tailwind utilities;
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #007bff;
  cursor: pointer;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}